# Triangular Patterns

Pattern. 1   

1
12
123
1234

In [2]:
def triangularPattern(n):
    pattern =''
    for i in range(1,n+1):
        for j in range(1,i+1):
            pattern += str(j)
        pattern += '\n'
    return pattern

n = int(input())
print(triangularPattern(n))

4
1
12
123
1234

#

Pattern. 2

1
23
456
78910

In [5]:
def triangularPattern(n):
    pattern =''
    k = 1
    for i in range(1,n+1):
        for j in range(i):
            pattern += str(k)
            k += 1
        pattern += '\n'
    return pattern
    
    
n = int(input())
print(triangularPattern(n))

4
1
23
456
78910

#

Pattern. 3

1
23
345
4567

In [6]:
def triangularPattern(n):

    pattern = ''
    for i in range(1,n+1): 
        for j in range(1,i+1):
            pattern += str(i+j-1)
        pattern += '\n'
    return pattern

n = int(input())
print(triangularPattern(n))

4
1
23
345
4567

#

## Assignments

Problem statement
Print the following pattern for the given N number of rows.

Pattern for N = 4
*
**
***
****
Note : There are no spaces between the stars (*).

Constraints
0 <= N <= 50

In [7]:
n = int(input())
for i in range(n):
    for j in range(i+1):
        print('*', end='')
    print()

4
*
**
***
****

#

Problem statement
Print the following pattern for the given N number of rows.

Pattern for N = 4
1
21
321
4321

Constraints
0 <= N <= 50

In [8]:
n = int(input())
for i in range(1,n+1):
    for j in range(i):
        print(i-j, end='')
    print()

4
1
21
321
4321

#

Problem statement
Print the following pattern for the given N number of rows.

Pattern for N = 4
1
11
111
1111

In [9]:
n = int(input())
for i in range(1,n+1):
    for j in range(1,i+1):
        print(1, end='')      
    print()

4
1
11
111
1111

#

Problem statement
Print the following pattern for the given N number of rows.

Pattern for N = 4
1
11
202
3003

In [47]:
n = int(input())
for i in range(1,n+1):
    for j in range(1,i+1):
        if j == 0 or i == j and i == 1:
            print(i, end='')
        elif j == 1 or i == j:
            print(i-1, end='')
        else:
            print(0,end='')
    print()

4
1
11
202
3003

#

Problem statement
Print the following pattern for the given N number of rows.

Pattern for N = 4
1
11
121
1221

In [48]:
n = int(input())
print(1)
i = 1
while i < n:
    j = 0
    while j <=i:
        if j ==0 or i ==j:
            print(1,end='')
        else:
            print(2, end='')
        j += 1
    print()
    i +=1

4
1
11
121
1221

#

Problem statement
Print the following pattern for the given N number of rows.

Pattern for N = 4
1234
123
12
1

In [59]:
n = int(input())
for i in range(n,0,-1):
    for j in range(1,i+1):
        print(j,end='')
        
    print()

4
1234
123
12
1

#

Print the following pattern for the given N number of rows.

Pattern for N = 4
4444
333
22
1

In [61]:
n = int(input())
for i in range(n,0,-1):
    for j in range(i):
        print(i, end='')
    print()

4
4444
333
22
1

#