## Mirror number pattern

Problem statement
Print the following pattern for the given N number of rows.

Pattern for N = 4
...1
..12
.123
1234
The dots represent spaces.

Constraints
0 <= N <= 50

In [6]:
n = int(input())
for i in range(1,n+1):
    
    # For space
    for space in range(n-i):
        print(' ',end= '')
    
    # For pattern
    for j in range(1,i+1):
        print(j,end="")
    print()

4
   1
  12
 123
1234

#

##  Isosceles Pattern

   1
  121
 12321
1234321

In [16]:
n = int(input())

for i in range(1,n+1):
    
    # For space
    for space in range(n-i):
        print(' ',end= '')
    
    # Increasing sequence
    for j in range(1,i+1):
        print(j,end="")
    
    # Decreasing sequence
    for k in range(1,i):
        print(i - k ,end="")
        
    print()

4
   1
  121
 12321
1234321

#

##   Star Pattern

Print the following pattern

Pattern for N = 4
   *
  ***
 *****
*******

Constraints :
0 <= N <= 50

In [19]:
inp = int(input())
for i in range(1,inp+1):
    for space in range(inp - i):
        print(' ',end='')
    for j in range(i):
        print('*', end='')
    for k in range(1,i):
        print('*', end='')
    print()

4
   *
  ***
 *****
*******

#

##  Pattern: Triangle of numbers

Problem statement
Print the following pattern for the given number of rows.

Pattern for N = 4
   1
  232
 34543
4567654

In [30]:
n = int(input())

for i in range(1,n+1):
    for space in range(n-i):
        print(' ', end='')
    
    for j in range(1,i+1):
        print(i+j-1, end = '')
    
    for k in range(1,i):
        print(2*i-k-1,end='')
    print()

4
   1
  232
 34543
4567654

#

##  Diamond of Stars

Print the following pattern for the given number of rows.

Note: N is always odd.

Pattern for N = 5

  *
 ***
*****
 ***
  *

Constraints :
1 <= N <= 49

In [11]:
n = int(input())

# For first part
n1 = (n+1)//2
for i in range(1,n1+1):
    # Space are in deccending order 
    for space in range(n1-i):
        print(' ',end='')
    for j in range(i):
        print('*',end='')
    for k in range(i-1):
        print('*', end='')
    print()

# For Second part
n2 = n1-1
for i in range(n2,0,-1):
    # Space are in decending order
    for space in range(n2-i+1):
        print(' ', end='')
    for j in range(2*i-1):
        print('*',end='')
    print()

10
    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

#

#  Number Pattern

Problem statement
Print the following pattern for n number of rows.
Note: each line consist of equal number of characters + spaces. Suppose you
are printing xth line for N=n. You need to print 1..x followed by (n-x) spaces,
again (n-x) spaces followed by x..1

1        1
12      21
123    321
1234  4321
1234554321

In [28]:
n = int(input())

for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end='')
    
    for space in range(2*n-2*i):
        print(' ', end='')
    
    for k in range(1,i+1):
        print(i-k+1,end='')
    
    print()

5
1        1
12      21
123    321
1234  4321
1234554321

#

#  Zeros and Stars Pattern

Problem statement
Print the following pattern

Pattern for N = 4

*000*000*
0*00*00*0
00*0*0*00
000***000

In [2]:
n = int(input())
for i in range(1,n+1):
    for j in range(i-1):
        print('0', end='')
    
    print('*', end='')
    
    for k in range(n-i):
        print('0',end='')
    
    print('*', end='')
    
    for l in range(n-i):
        print('0', end='')
    
    print('*', end='')
    
    for m in range(i-1):
        print('0',end='')
    
    print()

4
*000*000*
0*00*00*0
00*0*0*00
000***000

#

#  Pyramid Number Pattern

Problem statement
Print the following pattern for the given number of rows.

Pattern for N = 4
   1
  212
 32123
4321234
Input format : N (Total no. of rows)

Output format : Pattern in N lines

In [3]:
n = int(input())
for i in range(1,n+1):
    
    for space in range(n-i):
        print(' ', end='')
    
    for j in range(1,i+1):
        print(i+1-j,end='')
    p = 2
    for k in range(i-1):
        print(p, end='')
        p += 1
    print()

4
   1
  212
 32123
4321234

#

#  Arrow pattern

Problem statement
Print the following pattern for the given number of rows.

Assume N is always odd.

Note : There is space after every star. Pattern for N = 7
*
 * *
   * * *
     * * * *
   * * *
 * *
*

In [4]:
n = int(input())

# first part of the  pattern
n1 = (n+1)//2
for i in range(n1):
    for spaces in range(i):
        print(' ', end='')
    
    for stars in range(i+1):
        print('* ', end='')
    print()

#  second part of the pattern
n2 = n//2

for i in range (n2,0,-1):
    for spaces in range(i-1):
        print(' ',end='')
    
    for stars in range(i):
        print('* ', end='')
    print()

7
*
 * *
  * * *
   * * * *
  * * *
 * *
*

#

#  Binary Pattern

Problem statement
Print the following pattern for the given number of rows.

Pattern for N = 4
1111
000
11
0
Input format : N (Total no. of rows)

Output format : Pattern in N lines

In [2]:
n = int(input())
flag = True
for i in range(n,0,-1):
    for j in range(i):
        if flag:
            print('1',end='')
        else:
            print('0', end='')
    flag = not flag
    print()

4
1111
000
11
0

In [46]:
n = int(input())

for i in range(1,n+1):
    for j in range(1,n-i+2):
        if i%2 == 1:
            print('1',end='')
        else:
            print('0',end='')
    print()

5
11111
0000
111
00
1

#

#  Print Number Pyramid

Problem statement
Print the following pattern for a given n.

For eg. N = 6
123456
  23456
    3456
      456
        56
          6
        56
      456
    3456
  23456
123456

In [26]:
n = int(input())
n1 = (2*n+1)//2
for i in range(1,n1+1):
    for space in range(i-1):
        print(' ', end='')
    for j in range(i,n1+1):
        print(j, end='')
    print()

n2 = n1-1
for i in range(1,n2+1):
    for space in range(n2-i):
        print(' ', end='')
    for j in range(i+1):
        print(n2+j-i+1, end='')
    print()

6
123456
 23456
  3456
   456
    56
     6
    56
   456
  3456
 23456
123456

#

#  Rectangular numbers

Problem statement
Print the following pattern for the given number of rows.

Pattern for N = 4
4444444
4333334
4322234
4321234
4322234
4333334  
4444444
Input format : N (Total no. of rows)

Output format : Pattern in N lines

In [5]:
n = int(input())
for i in range(1,n+1):
    temp = n
    for j in range(1,i):
        print(temp,end="")
        temp = temp -1 
    for j in range(1,(2*n) - (2*i) + 2): 
        print(n-i+1,end="") 
    for j in range(1,i):
        temp = temp+1 
        print(temp,end="") 
    print()
    
for i in range(n-1,0,-1):
    temp = n
    for j in range(1,i):
        print(temp,end="") 
        temp = temp - 1
    for j in range(1,(2*n) - (2*i) + 2):
        print(n-i+1,end="") 
    for j in range(1,i):
        temp = temp+1 
        print(temp,end="") 
    print()

4
4444444
4333334
4322234
4321234
4322234
4333334
4444444

In [62]:
n = int(input())
# create empty matrix of size (2n-1)x(2n-1)
li_2d = [[0] * (2*n-1) for i in range(2*n-1)]


# fill in the matrix with the numbers
for i in range(1):
    for j in range(i, 2*n-i-1):
        li_2d[i][j] = n-i        
#         li_2d[j][i] = n-i
#         li_2d[2*n-i-2][j] = n-i
#         li_2d[j][2*n-i-2] = n-i

# print the li_2d
for row in li_2d:
    for num in row:
        print(num, end="")
    print()

4
4444444
0000000
0000000
0000000
0000000
0000000
0000000

#

#  Print the pattern

Problem statement
Print the following pattern for the given number of rows.

Pattern for N = 5
 1    2   3    4   5
 11   12  13   14  15
 21   22  23   24  25
 16   17  18   19  20
 6    7    8   9   10
Input format : N (Total no. of rows)

Output format : Pattern in N lines

In [26]:
n = int(input())

li = []

for i in range(1,n*n+1):
    li.append(i);

ans = []
cnt = 0

for i in range(n):
    ans.append(li[cnt:cnt+n])
    cnt += n
    
for i in range(0,n,2):
    for j in range(n):
        print(ans[i][j], end=' ')
    print()
    
for i in range(n-1-(n%2),-1,-2):
    for j in range(n):
        print(ans[i][j], end=' ')
    print()

5
1 2 3 4 5
11 12 13 14 15
21 22 23 24 25
16 17 18 19 20
6 7 8 9 10